<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cafe_manager">

        <!-- LAUNCHER giờ là LoginActivity -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.table.TableActivity"
            android:exported="false" />

        <activity
            android:name=".ui.menu.MenuActivity"
            android:exported="false" />

        <activity
            android:name=".ui.order.OrderActivity"
            android:exported="false" />

        <activity
            android:name=".ui.payment.PaymentActivity"
            android:exported="false" />

        <activity
            android:name=".ui.payment.InvoiceActivity"
            android:exported="false" />

        <activity
            android:name=".ui.orderslist.OrdersListActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.AdminMenuActivity"
            android:exported="false" />

        <activity
            android:name=".ui.history.HistoryActivity"
            android:exported="false" />

        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false" />

        <activity
            android:name=".ui.dashboard.RevenueReportActivity"
            android:exported="false" />

        <activity
            android:name=".ui.user.UserManagementActivity"
            android:exported="false" />

        <activity
            android:name=".ui.promotion.PromotionManagementActivity"
            android:exported="false" />

        <activity
            android:name=".ui.menu.CategoryManagementActivity"
            android:exported="false" />

        <activity
            android:name=".ui.table.TableManagementActivity"
            android:exported="false" />

        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".ui.profile.ChangePasswordActivity"
            android:exported="false" />

        <activity
            android:name=".ui.attendance.AttendanceReportActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />
       
        <activity
            android:name=".ui.shift.ShiftCloseActivity"
            android:exported="false" />
       
        <activity
            android:name=".ui.shift.ShiftReportActivity"
            android:exported="false" />
        
        <activity
            android:name=".ui.shift.DailyShiftReportActivity"
            android:exported="false" />
        <!-- Đăng ký màn hình quản lý ca làm việc -->
        <activity android:name=".ui.shift.ShiftTemplateActivity" android:exported="false" />
        <activity android:name=".ui.shift.ShiftScheduleActivity" android:exported="false" />
        <activity android:name=".ui.shift.MyShiftActivity" android:exported="false" />

        <!-- Đăng ký màn hình truyền thông nội bộ -->
        <activity android:name=".ui.communication.NewsFeedActivity" android:exported="false" />
        <activity android:name=".ui.communication.NewsDetailActivity" android:exported="false" />
        <activity android:name=".ui.communication.NewsPostFormActivity" android:exported="false" />
        <activity android:name=".ui.communication.ChatRoomListActivity" android:exported="false" />
        <activity android:name=".ui.communication.ChatMessageActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity android:name=".ui.communication.NotificationCenterActivity" android:exported="false" />
        <activity android:name=".ui.availability.MyAvailabilityActivity" android:exported="false" />
        <activity android:name=".ui.leave.LeaveRequestActivity" android:exported="false" />
        <activity android:name=".ui.leave.LeaveApprovalActivity" android:exported="false" />

        <!-- Tự động xếp ca -->
        <activity
            android:name=".ui.scheduling.SchedulingPreviewActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
    </application>

</manifest>
